extends ../root/appWindow.pug

block navbar
  - var user = userObj
block app
  #dashboard-container
    .servList
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wa
      .servIcon wat
      .servIcon wa


    .jumbotron#dashJumba(style="border-radius: 0;")
      if selectedServ
        img.img-responsive.img-rounded.serverImage(src=selectedServ.icon alt="whatislife?")
        .well.serverText #{selectedServ.name}
      else
        img.img-responsive.img-rounded.serverImage(src="https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png" alt="whatislife?")
        .well.serverText Please select a Server
    
