extends ../root/appWindow.pug

block navbar
  - var user = userObj
block app
  .dashboard-container
    .jumbotron.jumba
      img()
      h2(bold and stuff)
    .toolbar
      select.form-control.selectForm
        each server in servers
          option #{server.name}
      button.btn.btn-warning.btn-group-xsmall
        span.glyphicon.glyphicon-refresh
      if selectedServ
        span.label.label-info No Server Selected
      else if selectedServ.isOn
        span.label.label-danger Offline
      else
        span.label.label-success Online
      
        <Label
          style={styles.statusTag}
          bsStyle={!info.selectedServer ? "info" : info.selectedServer.isOn ? "success" : "danger" }>
          {!info.selectedServer ? "No Server Selected" : info.selectedServer.isOn ? "Online" : "Offline" }
        </Label>
        {/* make these buttons reactive too */}
        <ButtonToolbar style={styles.buttons}>
          <Button bsStyle="success" bsSize="xsmall" disabled>Turn On</Button>
          <Button bsStyle="warning" bsSize="xsmall">Turn Off</Button>
        </ButtonToolbar>
