/*Root elements*/

/* navbar stuff */
.avatarImg{
  padding: 19.5px 0 19.5px 0;
}

.avatarImg > img{
  height: 30px;
  width: 30px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainNavbar{
  background-color: transparent;
  border: transparent;
  color: black;
  margin: 0;
}

