extends head.pug

block body
  body
    .container-fluid.main-container(style="background-color:tomato;height: 100vh;padding:0;")
      block navbar
      include navbar.pug
      .test(style="background-color: white;top-margin: 20vh;height:80vh;")
        block app
        include footer.pug
  include scripts.pug
